<div class="sticky-top">
    <div class="jumbotron jumbotron-fluid bg-white my-0 py-0">
        <img class="img-fluid" src="https://picsum.photos/2000/100">
    </div>

    <nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">{{title}}</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/book-list']">List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/book-form']">Create</a>
            </li>
        </ul>
    </div>
	</nav>
</div>

<div class="container">
	<div class="jumbotron">
    <div class="row">
        <div class="col">
        	<!--  <bs-book-form></bs-book-form>
        	<bs-book-detail></bs-book-detail>
			<bs-book-list></bs-book-list> -->
		 	<router-outlet></router-outlet>
        </div>
    </div>
    </div>
</div>
